<div class='container'>
  <h1 class="page-header">Portland Dog Parks</h1>
  
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  {{outlet}}
</div>
